# Node
node_modules
.next/
out/

# Python
venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.env
.DS_Store
.vscode/

# Docker
.dockerignore
docker-compose.override.yml
*.log

# chromadb
chroma_data/
uploaded_papers/

